citroen-ami-flow.json
[
    {
        "id": "3ee8b74ef468e5c7",
        "type": "tab",
        "label": "Citroen Ami MQTT Status",
        "disabled": false,
        "info": "Dieser Flow empfängt die bereits vom WiCAN-Modul aufbereiteten Daten, kombiniert sie mit dem Shelly-Status und gibt sie an das Dashboard und EVCC weiter."
    },
    {
        "id": "32c9c8bd14ae1369",
        "type": "group",
        "z": "3ee8b74ef468e5c7",
        "name": "SAFETY: Wegfahrsperre bei gestecktem Kabel",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffcccc",
            "label": true
        },
        "nodes": [
            "8c3f2288b4843fbe",
            "2c60e946733b7e76",
            "6ac61d6aa2b497f3",
            "4852c9abce9f606c",
            "78ad43db1b4f2778",
            "562956f701957af3"
        ],
        "x": 274,
        "y": 979,
        "w": 812,
        "h": 182
    },
    {
        "id": "2e244bd7363b562a",
        "type": "junction",
        "z": "3ee8b74ef468e5c7",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "d03babd2859b7769",
                "612b0520a7a09e39",
                "ef63eb6ce937a5a5",
                "8722375e8466240e",
                "53cb8026d2bc468d",
                "06ed50c55fcdd545",
                "5587aed9afe74023"
            ]
        ]
    },
    {
        "id": "4bc03d0ead68d2cf",
        "type": "inject",
        "z": "3ee8b74ef468e5c7",
        "name": "Assemble Data (every 5s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "d194e3dba1d68471"
            ]
        ]
    },
    {
        "id": "d194e3dba1d68471",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "name": "Create Final JSON Object",
        "func": "const now = Date.now();\nconst TIMEOUT = 60 * 1000; // 1 Minute in Millisekunden\n\n// Helper-Funktion, die einen Wert nur zurückgibt, wenn er nicht veraltet ist\nfunction getValidData(key, defaultValue) {\n    const data = flow.get(`ami_${key}`);\n    // Prüfen, ob Daten UND ein Zeitstempel existieren und ob dieser innerhalb des Timeouts liegt\n    if (data && data.timestamp && (now - data.timestamp < TIMEOUT)) {\n        return data.value;\n    }\n    // Andernfalls den sicheren Standardwert zurückgeben\n    return defaultValue;\n}\n\n// Helper für Werte, die keinen Timeout benötigen\nfunction getData(key, defaultValue) {\n    const data = flow.get(`ami_${key}`);\n    return data ? data.value : defaultValue;\n}\n\n\n// --- Werte mit und ohne Timeout aus dem Kontext holen ---\nconst odometerRaw = getData(\"odometer_raw\", 0);\nconst rangeKm = getData(\"range_km\", 0);\nconst socPercent = getData(\"soc_percent\", 0);\nconst shellyPlugConnected = flow.get(\"shelly_plug_connected\") ?? false;\n\n// NEU: Ladeleistung vom Shelly holen\nconst shellyPower = flow.get(\"shelly_apower\") ?? 0;\n\n// Diese Werte werden nach 1 Minute Inaktivität auf ihre Standardwerte zurückgesetzt\nconst vehicleOnRaw = getValidData(\"vehicle_on\", 0); // 0 = OFF\nconst chargeTimeRaw = getValidData(\"charge_time_sec\", 65535);\n\n\n// --- Kilometerstand umrechnen ---\nlet final_odometer_km = 0;\nif (odometerRaw > 0) {\n    const swapped_V = (((odometerRaw & 16711680) / 65536) | (odometerRaw & 65280)) | ((odometerRaw & 255) * 65536);\n    final_odometer_km = swapped_V / 10.0;\n}\n\n// --- Ladestatus bestimmen ---\n// Workaround: Da CAN-Signal 'charge_time' unzuverlässig ist (immer 65535),\n// nutzen wir die Leistungsmessung des Shelly (> 20 Watt = Lädt).\nconst isAmiCharging = shellyPower > 20;\n\n// --- Finales Objekt bauen ---\nconst status = {\n    odometer_km: final_odometer_km,\n    range_km: rangeKm,\n    soc_percent: socPercent,\n    vehicle_on: (vehicleOnRaw === 1) ? \"ON\" : \"OFF\",\n    charger_connected: shellyPlugConnected,\n    is_charging: isAmiCharging,\n    // Wir geben die rohe Zeit weiter, auch wenn sie falsch (65535) ist.\n    // Eine Berechnung aus dem SoC wäre hier evtl. eine zukünftige Option.\n    remaining_charge_time_sec: chargeTimeRaw\n};\n\nmsg.payload = status;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "2e244bd7363b562a",
                "82c7fea196c4490f"
            ]
        ]
    },
    {
        "id": "1fa1868a43d139e9",
        "type": "debug",
        "z": "3ee8b74ef468e5c7",
        "name": "Final Ami Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.soc_percent",
        "statusType": "msg",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "a0063ca915bf9596",
        "type": "mqtt out",
        "z": "3ee8b74ef468e5c7",
        "name": "Publish to smarthome/citroen_ami/status",
        "topic": "smarthome/citroen_ami/status",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "59ec4f6debcd1b1e",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "96b28b2f42c14940",
        "type": "comment",
        "z": "3ee8b74ef468e5c7",
        "name": "1. Aufbereitete MQTT-Daten empfangen",
        "info": "Dieser Abschnitt abonniert das MQTT-Topic deines wican-Moduls und speichert die bereits aufbereiteten Werte in Flow-Variablen.",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "c3901581bdf3af9e",
        "type": "comment",
        "z": "3ee8b74ef468e5c7",
        "name": "2. Status zusammenfassen und ausgeben",
        "info": "Ein Inject-Node löst alle 5 Sekunden eine Function aus.\nDiese Function liest alle gespeicherten Flow-Variablen aus, fasst sie zu einem einzigen, sauberen JSON-Objekt zusammen und sendet es an den Ausgang.\n\nVon hier aus kannst du die Daten:\n- Im Debug-Fenster anzeigen.\n- An ein anderes MQTT-Topic senden (für EVCC).\n- Im Dashboard anzeigen.",
        "x": 180,
        "y": 280,
        "wires": []
    },
    {
        "id": "1390b39aeb098c19",
        "type": "comment",
        "z": "3ee8b74ef468e5c7",
        "name": "3. Daten im Dashboard visualisieren",
        "info": "Die UI-Nodes nehmen das finale Status-Objekt entgegen und stellen die einzelnen Werte im Node-RED Dashboard dar.\n\nDas Dashboard ist erreichbar unter: http://<deine-ip>:1880/ui",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "ef63eb6ce937a5a5",
        "type": "ui_gauge",
        "z": "3ee8b74ef468e5c7",
        "name": "",
        "group": "69e447bafbd52d85",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ladezustand",
        "label": "%",
        "format": "{{payload.soc_percent}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 520,
        "wires": []
    },
    {
        "id": "612b0520a7a09e39",
        "type": "ui_gauge",
        "z": "3ee8b74ef468e5c7",
        "name": "",
        "group": "69e447bafbd52d85",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Reichweite",
        "label": "km",
        "format": "{{payload.range_km}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "15",
        "seg2": "50",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "d03babd2859b7769",
        "type": "ui_text",
        "z": "3ee8b74ef468e5c7",
        "group": "69e447bafbd52d85",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kilometerstand",
        "format": "{{payload.odometer_km}} km",
        "layout": "row-spread",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "8722375e8466240e",
        "type": "ui_text",
        "z": "3ee8b74ef468e5c7",
        "group": "69e447bafbd52d85",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fahrzeugstatus",
        "format": "{{payload.vehicle_on}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "53cb8026d2bc468d",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "name": "Format Charge Time",
        "func": "function formatSecondsToHHMMSS(totalSeconds) {\n    // Stellt sicher, dass wir eine ganze Zahl haben\n    const seconds = parseInt(totalSeconds, 10);\n\n    // Stunden berechnen\n    const hours = Math.floor(seconds / 3600);\n\n    // Minuten berechnen\n    const minutes = Math.floor((seconds % 3600) / 60);\n\n    // Übrige Sekunden berechnen\n    const secs = seconds % 60;\n\n    // Jede Komponente auf zwei Ziffern formatieren (z.B. 7 -> \"07\")\n    const paddedHours = String(hours).padStart(2, '0');\n    const paddedMinutes = String(minutes).padStart(2, '0');\n    const paddedSeconds = String(secs).padStart(2, '0');\n\n    // Den formatierten String zurückgeben\n    return `${paddedHours}:${paddedMinutes}:${paddedSeconds}`;\n}\n\n\nif (msg.payload.charger_connected && msg.payload.is_charging) {\n    const time = msg.payload.remaining_charge_time_sec;\n    msg.payload = `${formatSecondsToHHMMSS(time)}`;\n} else {\n    msg.payload = \"-\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 760,
        "wires": [
            [
                "6ba0070cfcdfd39a"
            ]
        ]
    },
    {
        "id": "6ba0070cfcdfd39a",
        "type": "ui_text",
        "z": "3ee8b74ef468e5c7",
        "group": "69e447bafbd52d85",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Restliche Ladezeit",
        "format": "{{payload}}",
        "layout": "row-spread",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "06ed50c55fcdd545",
        "type": "ui_text",
        "z": "3ee8b74ef468e5c7",
        "group": "69e447bafbd52d85",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ladegerät verbunden",
        "format": "{{payload.charger_connected}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 400,
        "y": 600,
        "wires": []
    },
    {
        "id": "bf3cf3715dbcac6b",
        "type": "mqtt in",
        "z": "3ee8b74ef468e5c7",
        "name": "Shelly Charger Input",
        "topic": "shellies/amicharger/status/input:0",
        "qos": "2",
        "datatype": "json",
        "broker": "59ec4f6debcd1b1e",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e6f9b522a5f03c0d"
            ]
        ]
    },
    {
        "id": "e6f9b522a5f03c0d",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "name": "Store Shelly Plug Status",
        "func": "if (msg.payload && typeof msg.payload.state !== 'undefined') {\n    // Speichert den Zustand des Shelly (true/false) in einer Flow-Variable\n    flow.set(\"shelly_plug_connected\", msg.payload.state);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "db4eb12c497e7ac4"
            ]
        ]
    },
    {
        "id": "82c7fea196c4490f",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "name": "Format for EVCC",
        "func": "// Kombiniert die Info vom Shelly (Stecker drin?) und vom CAN-Bus (lädt er?)\n\nconst isPlugged = msg.payload.charger_connected; // vom Shelly\nconst isCharging = msg.payload.is_charging; // vom CAN-Bus\n\nif (isPlugged && isCharging) {\n    msg.payload.charge_status = 'C'; // Verbunden und lädt\n} else if (isPlugged && !isCharging) {\n    msg.payload.charge_status = 'B'; // Verbunden, aber lädt nicht\n} else {\n    msg.payload.charge_status = 'A'; // Nicht verbunden\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "a0063ca915bf9596",
                "1fa1868a43d139e9"
            ]
        ]
    },
    {
        "id": "5587aed9afe74023",
        "type": "ui_text",
        "z": "3ee8b74ef468e5c7",
        "group": "69e447bafbd52d85",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AMI lädt",
        "format": "{{payload.is_charging}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "a112590c4d9f99dd",
        "type": "mqtt in",
        "z": "3ee8b74ef468e5c7",
        "name": "wican Parsed JSON",
        "topic": "wican/ccba974ecd39/can/rx",
        "qos": "2",
        "datatype": "json",
        "broker": "59ec4f6debcd1b1e",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "c75c0e0b1904af2f"
            ]
        ]
    },
    {
        "id": "c75c0e0b1904af2f",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "name": "Store Parsed Value",
        "func": "// Der Payload ist bereits ein JSON-Objekt, z.B. {\"soc_percent\": 95}\n\n// Den Schlüssel (z.B. \"soc_percent\") und den Wert (z.B. 95) extrahieren\nconst key = Object.keys(msg.payload)[0];\nconst value = msg.payload[key];\n\nif (key && value !== undefined) {\n    // Ein Objekt mit dem Wert und dem aktuellen Zeitstempel speichern\n    const data = {\n        value: value,\n        timestamp: Date.now()\n    };\n    \n    // Eine Flow-Variable mit dem Präfix 'ami_' und dem Schlüsselnamen setzen\n    // z.B. flow.set(\"ami_soc_percent\", {value: 95, timestamp: 167...});\n    flow.set(`ami_${key}`, data);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "8050e5692ba15e62"
            ]
        ]
    },
    {
        "id": "bf91cf5aea70e67f",
        "type": "mqtt out",
        "z": "3ee8b74ef468e5c7",
        "name": "MQTT Shelly Ami Charger ",
        "topic": "shellies/amicharger/command/switch:0",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "59ec4f6debcd1b1e",
        "x": 1030,
        "y": 880,
        "wires": []
    },
    {
        "id": "876a757b015c6b59",
        "type": "mqtt in",
        "z": "3ee8b74ef468e5c7",
        "name": "evcc for Ami Charger command",
        "topic": "smarthome/amicharger/command",
        "qos": "2",
        "datatype": "utf8",
        "broker": "59ec4f6debcd1b1e",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "2b8b685bde0d4872"
            ]
        ]
    },
    {
        "id": "718d6acbd1777d70",
        "type": "change",
        "z": "3ee8b74ef468e5c7",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 860,
        "wires": [
            [
                "bf91cf5aea70e67f"
            ]
        ]
    },
    {
        "id": "846586cc6fc5429c",
        "type": "change",
        "z": "3ee8b74ef468e5c7",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 900,
        "wires": [
            [
                "bf91cf5aea70e67f"
            ]
        ]
    },
    {
        "id": "0437e8c034ea4edb",
        "type": "switch",
        "z": "3ee8b74ef468e5c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 880,
        "wires": [
            [
                "718d6acbd1777d70"
            ],
            [
                "846586cc6fc5429c"
            ]
        ]
    },
    {
        "id": "1048c2198bcba762",
        "type": "inject",
        "z": "3ee8b74ef468e5c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "shellies/amicharger/command/switch:0",
        "payload": "status_update",
        "payloadType": "str",
        "x": 680,
        "y": 100,
        "wires": [
            [
                "83bd45f6e87005de"
            ]
        ]
    },
    {
        "id": "83bd45f6e87005de",
        "type": "mqtt out",
        "z": "3ee8b74ef468e5c7",
        "name": "MQTT Shelly Ami Charger ",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "59ec4f6debcd1b1e",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "a4e11007c2f3866b",
        "type": "comment",
        "z": "3ee8b74ef468e5c7",
        "name": "3. Shelly ansteuern",
        "info": "Ein Inject-Node löst alle 5 Sekunden eine Function aus.\nDiese Function liest alle gespeicherten Flow-Variablen aus, fasst sie zu einem einzigen, sauberen JSON-Objekt zusammen und sendet es an den Ausgang.\n\nVon hier aus kannst du die Daten:\n- Im Debug-Fenster anzeigen.\n- An ein anderes MQTT-Topic senden (für EVCC).\n- Im Dashboard anzeigen.",
        "x": 110,
        "y": 840,
        "wires": []
    },
    {
        "id": "2b8b685bde0d4872",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "name": "Block EVCC if Unsafe",
        "func": "const locked = flow.get(\"safety_lock\");\nif (locked) {\n    node.warn(\"Blockiere EVCC-Befehl wegen aktiver Wegfahrsperre!\");\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 880,
        "wires": [
            [
                "0437e8c034ea4edb"
            ]
        ]
    },
    {
        "id": "8c3f2288b4843fbe",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "g": "32c9c8bd14ae1369",
        "name": "Check: Startversuch mit Kabel?",
        "func": "// Wir suchen nur nach dem 'vehicle_on' Signal\nif (msg.payload.vehicle_on === undefined) {\n    return null;\n}\n\nconst currentStatus = msg.payload.vehicle_on;\n// Hole den vorherigen Status (um nur auf die Flanke 0->1 zu reagieren)\nconst lastStatus = context.get(\"lastVehicleOn\") || 0;\ncontext.set(\"lastVehicleOn\", currentStatus);\n\n// Hole Stecker-Status (Wahrheit vom Shelly)\nconst isPlugged = flow.get(\"shelly_plug_connected\");\n\n// Hole Shelly-Schaltzustand (Ist Strom schon an?)\n// Wenn Strom an ist, laden wir vermutlich gerade, dann ist 'vehicle_on' normal.\nconst isShellyOn = flow.get(\"shelly_switch_on\");\n\n// LOGIK: \n// Wenn Auto angeht (0->1) UND Stecker steckt UND Strom ist AUS\nif (currentStatus === 1 && lastStatus === 0 && isPlugged && !isShellyOn) {\n    node.warn(\"ALARM: Auto gestartet obwohl Kabel steckt und kein Ladestrom! Aktiviere Strom zur Erkennung.\");\n    // SETZE LOCK\n    flow.set(\"safety_lock\", true);\n    return { payload: \"on\" };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "2c60e946733b7e76",
                "4852c9abce9f606c"
            ]
        ]
    },
    {
        "id": "2c60e946733b7e76",
        "type": "trigger",
        "z": "3ee8b74ef468e5c7",
        "g": "32c9c8bd14ae1369",
        "name": "Force ON (1min)",
        "op1": "on",
        "op2": "off",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "RESET",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 1060,
        "wires": [
            [
                "562956f701957af3"
            ]
        ]
    },
    {
        "id": "6ac61d6aa2b497f3",
        "type": "change",
        "z": "3ee8b74ef468e5c7",
        "g": "32c9c8bd14ae1369",
        "name": "Reset bei Abstecken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "RESET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "safety_lock",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "2c60e946733b7e76"
            ]
        ]
    },
    {
        "id": "4852c9abce9f606c",
        "type": "debug",
        "z": "3ee8b74ef468e5c7",
        "g": "32c9c8bd14ae1369",
        "name": "SAFETY TRIGGER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1020,
        "wires": []
    },
    {
        "id": "78ad43db1b4f2778",
        "type": "switch",
        "z": "3ee8b74ef468e5c7",
        "g": "32c9c8bd14ae1369",
        "name": "Wenn abgesteckt...",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "6ac61d6aa2b497f3"
            ]
        ]
    },
    {
        "id": "562956f701957af3",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "g": "32c9c8bd14ae1369",
        "name": "Clear Lock on Timeout",
        "func": "// Wenn der Timer abläuft und 'off' sendet, geben wir das Lock frei.\nif (msg.payload === \"off\") {\n    flow.set(\"safety_lock\", false);\n    node.warn(\"Sicherheits-Lock aufgehoben (Timeout).\");\n} else {\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1060,
        "wires": [
            [
                "bf91cf5aea70e67f"
            ]
        ]
    },
    {
        "id": "8050e5692ba15e62",
        "type": "link out",
        "z": "3ee8b74ef468e5c7",
        "name": "wican Parsed JSON",
        "mode": "link",
        "links": [
            "ec3fee4c7abdf3d2"
        ],
        "x": 515,
        "y": 100,
        "wires": []
    },
    {
        "id": "ec3fee4c7abdf3d2",
        "type": "link in",
        "z": "3ee8b74ef468e5c7",
        "name": "wican Parsed JSON",
        "links": [
            "8050e5692ba15e62"
        ],
        "x": 205,
        "y": 1060,
        "wires": [
            [
                "8c3f2288b4843fbe"
            ]
        ]
    },
    {
        "id": "db4eb12c497e7ac4",
        "type": "link out",
        "z": "3ee8b74ef468e5c7",
        "name": "Shelly Charger Input",
        "mode": "link",
        "links": [
            "411e008d9de2122d"
        ],
        "x": 555,
        "y": 160,
        "wires": []
    },
    {
        "id": "411e008d9de2122d",
        "type": "link in",
        "z": "3ee8b74ef468e5c7",
        "name": "Shelly Charger Input",
        "links": [
            "db4eb12c497e7ac4"
        ],
        "x": 205,
        "y": 1120,
        "wires": [
            [
                "78ad43db1b4f2778"
            ]
        ]
    },
    {
        "id": "3675f10935cfabb5",
        "type": "function",
        "z": "3ee8b74ef468e5c7",
        "name": "Store Shelly Switch Status",
        "func": "if (msg.payload) {\n    // Speichert den Schaltzustand des Shelly (true/false) in einer Flow-Variable\n    if (typeof msg.payload.output !== 'undefined') {\n        flow.set(\"shelly_switch_on\", msg.payload.output);\n    }\n    // Speichert die aktuelle Leistung (Watt) in einer Flow-Variable\n    if (typeof msg.payload.apower !== 'undefined') {\n        flow.set(\"shelly_apower\", msg.payload.apower);\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "89399e21d0efd0db"
            ]
        ]
    },
    {
        "id": "4a9ebd8ec8b75f17",
        "type": "mqtt in",
        "z": "3ee8b74ef468e5c7",
        "name": "Shelly Switch Status",
        "topic": "shellies/amicharger/status/switch:0",
        "qos": "2",
        "datatype": "json",
        "broker": "59ec4f6debcd1b1e",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "3675f10935cfabb5"
            ]
        ]
    },
    {
        "id": "89399e21d0efd0db",
        "type": "debug",
        "z": "3ee8b74ef468e5c7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "59ec4f6debcd1b1e",
        "type": "mqtt-broker",
        "name": "hora2",
        "broker": "hora2",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "69e447bafbd52d85",
        "type": "ui_group",
        "name": "Citroën Ami Status",
        "tab": "8cf43a428a544102",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8cf43a428a544102",
        "type": "ui_tab",
        "name": "Ami",
        "icon": "directions_car",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
